.register-wrapper {
    width: 100vw;
    height: 100vh;
}

.register-form {
    width: 50%;
    min-width: 270px;
    /* height: 50%; */
    border-radius: 20px;
    max-width: 850px;
    max-height: 1000px;
}